###################################
#   MahaUtils Requirements File   #
###################################

# This file installs the necessary dependencies for the MahaUtils package.

# To install these files, simply open the MahaUtils repository in a terminal
# and run:
#    pip install -r requirements.txt

# Note that if you intend to work on MahaUtils code development, it is advised
# that you use the `.vscode/requirements.txt` file to install dependencies.

##############################################################################

dash >= 2.8.1
dash-bootstrap-components >= 1.4.0
matplotlib
numpy
packaging
pandas
plotly
pyxx
scipy
shapely
vtk
